<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Luke Blanchard</title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/projects.css">
</head>
<body>
    <header>
	<div class="main-header">
		<div class="name shrink">
            <a href="/">
                <h3>Luke Blanchard</h3>
                <h5>Developer - CS Student</h5>
            </a>
        </div>
        <ul class="main-nav shrink"> 
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
	</header><!--/.main-header-->   
    {{{body}}}
	<div class="main-footer">
        <div class="icon-div">
            <a href="https://github.com/lukeblanchard"><img class="icon" src="img/github.png"></a>
            <a href="https://www.linkedin.com/in/lucas-blanchard-3083b864"><img class="icon" src="img/linkedin.png"></a>
        </div>
		<span id="copyright">&copy;2018 Luke Blanchard</span>
	</div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>	
    <script src="js/scrollProjects.js"></script>
</body>
</html>
