<header>
<div class="main-header">
	<div class="name">
        <a href="/">
            <h3>Luke Blanchard</h3>
            <h5>Developer - CS Student</h5>
        </a>
    </div>
    <ul class="main-nav"> 
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</div>
</header><!--/.main-header-->   
<div id="spacer">&nbsp;</div>
<div class="about-container">
        <div class="about-title-pic">
            <h2>About Me</h2>
            <img id="about-pic-sparkler" src="./img/sparkler.jpg">
        </div>
		<p>I am currently working toward a BS in computer science at Oregon State University. My completed coursework includes Data Structures, Algorithms Analysis, Web Development, Intro to Databases, Discrete Structures in CS, and Computer Architecture & Assembly Language.</p>
        <a href="./BlanchardResume.pdf" download><h3>Download my resume!</h3></a>
	    <footer class="main-footer">
            <div class="icon-div">
        		<a href="https://github.com/lukeblanchard"><img class="icon" src="img/github.png"></a>
        		<a href="https://www.linkedin.com/in/lucas-blanchard-3083b864"><img class="icon" src="img/linkedin.png"></a>
            </div>
	    	<span id="copyright">&copy;2018 Luke Blanchard</span>
	    </footer>
</div>
