<div class="contact-container">
    <div class="contact-content">
        <p>Send me an email at <a href="mailto:blanchlu@oregonstate.edu">blanchlu@oregonstate.edu</a></p>
        <p>Let's connect on <a href="https://www.linkedin.com/in/lucas-blanchard/">LinkedIn</a></p>
        <p>Check out my <a href="https://github.com/lukeblanchard">GitHub</a></p>
        <p>I have a <a href="https://lukeblanchard.github.io/">blog!</a></p>
    </div>
</div>
