<div id="spacer">&nbsp;</div>
<div class="projects-container">
        <div class="projects-left">
			<h2>Projects</h2>
            <ul>
                <a href="#textGame"><li>Text Game</li></a>
                <a href="#bashScript"><li>Bash Script</li></a>
                <a href="#travelApp"><li>Travel App</li></a>
            </ul>
        </div>
        <div class="projects-center">
	        <div class="projects-center-interior">
                <div id="textGame" class="project-section">
                    <div class="top">
                        <img id="game-image" class="img-projects" src="img/textGameImage.png" alt="textGame"> 
                        <h2>Escape from Moon Base 9</h2>
                    </div>
                        <p>Built with C++, <i>Escape from Moon Base 9</i> was a final project I submitted for one of my classes at OSU. The player explores the moonbase, battling evil androids, gathering useful objects, and searching for the access code that will activate the correct escape pod. The program incorporates object-oriented programming concepts such as classes, encapsulation, and inheritance.</p>
                        <p>My biggest challenge in completing the game was to account for all the possible branches in the narrative.</p> 
                    </div>
                <div id="bashScript" class="project-section">
                    <div class="top">
                        <h2>Bash Script for Jekyll</h2>
                        <img class="img-projects" src="img/bashScript.png" alt="shellScript"> 
                    </div>
                    <p>
                    Jekyll posts need to be named with a specific format: YEAR-MONTH-DAY-title.MARKUP, where YEAR is a four-digit number, and both MONTH and DAY are two digit numbers. Here is a simple example: 2017-10-31-Haunted-Bash-Scripts.markdown. Typing the date and dashes each time seemed a little tedious, so I wrote a simple script to save a few keystrokes and practice my bash skills.
                    </p> 
                </div>
                <div id="travelApp" class="project-section">
                    <div class="top">
                        <img class="img-projects" src="img/erd.png" alt="travelApp"> 
                        <h2>Travel App</h2>
                    </div>
					<p>
					The Travel App is a Node.js web app with a MySQL backend. As a tour guide using the app, you can post your services, including information such as the price of an activity, a short description, duration, and category. As a traveler, you can browse activities, filter searches, and review guides.
					</p>
					<p>
					As the final project for my databases class, the Travel App demonstrates my ability to design a database and write complex SQL queries. The image above is an ER diagram of the database I made for the app.
					</p>
                </div>
            </div>
        </div>
</div>
